<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="manifest" href="{{ asset('images/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('images/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>Extranet - {% block pageTitle %}Centre de gestion{% endblock %}</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/waigeojslogger/eliteadmin/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('bundles/waigeojslogger/eliteadmin/css/animate.css') }}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ asset('bundles/waigeojslogger/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
    <!-- Toast -->
    <link href="{{ asset('bundles/waigeojslogger/plugins/bower_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/waigeojslogger/eliteadmin/css/style.css') }}" rel="stylesheet">
    <!-- color CSS you can use different color css from css/colors folder -->
    <link href="{{ asset('bundles/waigeojslogger/eliteadmin/css/colors/blue.css') }}" id="theme" rel="stylesheet">

    <link href="{{ asset('bundles/waigeojslogger/plugins/bower_components/sweetalert/sweetalert.css') }}" rel="stylesheet">

    {% block additionalCss %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
    <!-- Top Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"><a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)"
                                      data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part">

            </div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
                                class="icon-arrow-left-circle ti-menu"></i></a></li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">

            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="nav-small-cap m-t-10">-- Menu</li>
                <li>
                    <a href="{{ path('jslogger_list_page') }}" class="waves-effect"><i class="icon-home fa-fw"></i><span
                                class="hide-menu"> Tableau de bord</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-9 col-sm-8 col-md-6 col-xs-12">
                    <ol class="breadcrumb" style="float:left;">
                        {% block breadcrumb %}
                            <!--<li><a href="#">Dashboard</a></li>
                            <li class="active">Starter Page</li>-->
                        {% endblock %}
                    </ol>
                </div>
                <div class="float-right">
                    {% block actions %}
                        <!--<li><a href="#">Dashboard</a></li>
                        <li class="active">Starter Page</li>-->
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 &copy; Waigeo JSLogger Web Interface - By Chbig</footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="{{ asset('bundles/waigeojslogger/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/waigeojslogger/eliteadmin/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{ asset('bundles/waigeojslogger/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
<!-- Toast -->
<script src="{{ asset('bundles/waigeojslogger/plugins/bower_components/toast-master/js/jquery.toast.js') }}"></script>
<!--slimscroll JavaScript -->
<script src="{{ asset('bundles/waigeojslogger/eliteadmin/js/jquery.slimscroll.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('bundles/waigeojslogger/eliteadmin/js/waves.js') }}"></script>
<!--Style Switcher -->
<script src="{{ asset('bundles/waigeojslogger/plugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ asset('bundles/waigeojslogger/eliteadmin/js/custom.js') }}"></script>

<script src="{{ asset('bundles/waigeojslogger/plugins/bower_components/sweetalert/sweetalert.min.js') }}"></script>

{% block additionalScripts %}{% endblock %}
</body>
</html>